table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
input {
  width: 97%;
  margin: 5px;
}
.form {
  width: 500px;
  border: solid black 1px;
}
label {
  margin: 5px;
}
nav {
  background-color: orange;
  padding: 1rem;
  margin: 2rem;
  margin-top: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.table {
  display: inline-block;
  /* width: 50em; */
  overflow: auto;
  height: 20em;
  padding: 5px;
  margin: 5px;
  padding-right: 0;
  border: solid orange 5px;
}

.table::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background-color: #aaa;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
button {
  margin: 10px;
  width: 3rem;
}
.pageControl {
  background-color: rgb(214, 245, 227);
  border-radius: 20px;
  border: solid black 1px;
  justify-content: space-around;
  padding: 1px;
  margin: 15px;
  width: 50%;
  display: inline-block;
}

.mainForTable {
  text-align: center;
}
.headerTable {
  width: 50em;
}
.selected {
  background-color: green;
}
.a {
  width: 20px;
}
.b {
  width: 100px;
}
.tableNames {
  display: flex;
  flex-flow: row;
  border: solid black 1px;
  width: 710px;
}
.b > div {
  display: flex;
  flex-flow: row;
}
.createButton {
  border: solid black 2px;
  width: 90%;
  padding: 5px;
  margin-left: 24px;
  background-color: rgb(202, 199, 199);
}
a:hover {
  background-color: rgb(255, 0, 140);
}
.editButton {
  border: solid black 2px;
  width: 90%;
  padding: 5px;
  margin-left: 24px;
  background-color: rgb(202, 199, 199);
}
h1 {
  /* background-color: rgb(238, 15, 15); */
  color: orange;
  margin: 2rem;
  margin-bottom: 0;
  padding: 3rem;
  background-image: url("./images/city.jpg");
}
